# Игнорировать сборочные файлы и папки
*.pro.user
*.autosave

# Игнорировать скомпилированные файлы
*.o
*.a
*.so
*.dll
*.exe

# Игнорировать временные файлы
*.tmp
*.swp
*.bak

# Игнорировать папки
.idea/
.vscode/
build
info/
